<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MSFASR</title>
    <%- css('/css/osx.css') %>
    <%- css('/css/aside.css') %>
    <%- css('/css/index.css') %>
    <%- css('/css/post.css') %>
    <%- css('/css/tags.css') %>
    <%- css('/css/highlight.css') %>
    <!-- 这是引入样式-->


    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>




</head>




<body >

<div class="Finder">
    &nbsp; &nbsp;

<!--    <img src="/img/title-logo_s.png"  alt="apple" id="Apple"/>-->
    <a href="/" id="logo-text" class="FinderText">&nbsp k@M0me’s Humble Abode &nbsp</a>
    <span>
        &nbsp;&nbsp;
    </span>
    <a  href="/" id="blog" class="FinderText">&nbsp博&nbsp&nbsp客&nbsp
<!--        <div id="blogMenu" class="MenuDiv">-->
<!--            <div id="mainpage" class="menuText" >-->
<!--             <a href="/" class="post-url">主页</a>-->
<!--            </div>-->
<!--            <div id="catagory"class="menuText">-->
<!--                <a href="/tags/生活感想" class="post-url">归档</a>-->
<!--            </div>-->
<!--            <div id="archieves" class="menuText">-->
<!--                <a href="/archives" class="post-url">时间线</a>-->
<!--            </div>-->
<!--            <div id="photo" class="menuText">-->
<!--                <a href="/photos" class="post-url">照片墙</a>-->
<!--            </div>-->
<!--        </div>-->
    </a>
    <a href="/archives/2019/08/" id="timeline" class="FinderText">&nbsp时&nbsp间&nbsp线&nbsp</a>
    <a href="/tags/计算机基础" id="cate" class="FinderText">&nbsp归&nbsp&nbsp档&nbsp</a>
    <a href="/aboutNew" id="about" class="FinderText">&nbsp关&nbsp于&nbsp与&nbsp友&nbsp链</a>
<!--    <div id="control" class="FinderText">&nbsp控制&nbsp-->
<!--        <div id="controlMenu"class="MenuDiv">-->
<!--            <div id="backToTop" class="menuText">-->
<!--                <a href="#Showtags" class="post-url">返回顶部</a>-->
<!--            </div>-->
<!--            <div  class="menuText">-->
<!--                <a href="<% if (page.prev) { %>-->
<!--        <%-page.prev.permalink %>-->
<!--        <% } %>" class="post-url">上一篇-->
<!--                    </a>-->
<!--            </div>-->
<!--            <div  class="menuText">-->
<!--                <a href="<% if (page.next) { %>-->
<!--        <%-page.next.permalink %>-->
<!--        <% } %>" class="post-url">下一篇</a>-->
<!--            </div>-->


<!--        </div></div>-->
<!--    <div id="options" class="FinderText">&nbsp选项&nbsp-->
<!--        <div id="optionsMenu"class="MenuDiv">-->
<!--            <div id="share" class="menuText">-->
<!--                <a href="" class="post-url" id="shareThisPage">分享本页</a>-->
<!--            </div>-->

<!--        </div></div>-->
<!--    <div id="about" class="FinderText">&nbsp关于&nbsp-->
<!--        <div id="aboutMenu"class="MenuDiv">-->

<!--            <div id="aboutMain" class="menuText">-->
<!--                <a href="/2019/08/20/About/" class="post-url">个人简介</a>-->
<!--            </div>-->
<!--            <div  class="menuText">-->
<!--                <a href="/2019/08/20/links/" class="post-url">友情链接</a>-->
<!--            </div>-->

<!--            <div  class="menuText">-->
<!--                <a href="mailto:makinoharashoko@outlook.com" class="post-url">邮箱</a>-->
<!--            </div>-->
<!--            <div  class="menuText">-->
<!--                <a href="https://github.com/MakinoharaShoko" class="post-url">Github</a>-->
<!--            </div>-->
<!--            <div id="twitter"  class="menuText">-->
<!--                <a href="https://twitter.com/_Makinohara" class="post-url">Twitter</a>-->
<!--            </div>-->

<!--            <div  class="menuText">-->
<!--                <a href="https://github.com/MakinoharaShoko/hexo-OSX-theme" class="post-url">Theme OS-X by Makinohara</a>-->
<!--            </div>-->
<!--            <div id="author" class="menuText">-->
<!--                <a href="/" class="post-url">©2020 MSFASR Centre Telecom</a>-->
<!--            </div>-->
<!--        </div><nbsp></nbsp></div>-->
<!--    <img src="/img/iconsTop.png" alt="icons"id="icons"/>-->
<!--    <div id="showtime"></div>-->

</div>

<!--now write body-->
<div id="body">
    <%- body %>
</div>

<!--Now Write Bottom -->
<!--
 <div id="Bottom">
    <a href="/">
        <img src="/img/mail.png" class="BottomImg" >
    </a>
    <a href="/tags/BigNotes">
        <img src="/img/missioncontrol.png" class="BottomImg">
    </a>
    <a href="/archives">
        <img src="/img/reminders.png" class="BottomImg">
    </a>
    <a href="/photos">
        <img src="/img/preview.png" class="BottomImg">
    </a>




</div>
-->




<%- js('js/osx.js') %>
</body>
</html>
