<%- css('/css/aside.css') %>

<div id="Content">
    <!-- 引入侧边栏 -->
    <div id="asidePart">
        <nav id="title-list-nav">

            <% site.posts.sort('date', -1).forEach(function(post, i){  %>
                <a <% if(post.top){%>id="top"<%}%> class="post-url"
                   href="<%- url_for(post.path) %>"
                   data-tag="<% post.tags.forEach(function(tag, i){ %><%=tag.name%><% if (i+1<post.tags.length){%>,<%}})%>"
                   data-author="<% if(theme.author && theme.author.on==true && post.author) {%><%=post.author %><%}%>" >
                    <div class="post-box">

                        <div class="post-date" title="<%= date(post.date, 'YYYY-MM-DD HH:mm:ss')%>"><%= date(post.date, 'YYYY/MM/DD') %></div>
                        <div class="post-title" title="<%=post.title %>"><%=post.title %></div>
                    </div>

                </a>
            <% }) %>
        </nav>
    </div>

    <div id="content">
        <div id="noneOpen">
            你现在没有打开任何博文
        </div>

    </div>


</div>
